:root{
    --bg-primary-light: #F3FCF9;
    --bg-secondary-light: rgba(152, 221, 191, 0.5);
    --bg-tertairy-light: #1DC082;
    --text-primary-light: #181816;
    --text-secondary-light: rgb(19, 180, 115);
    --text-tertairy-light: #8A8A8C;
    --bg-image1-light: url('./src/bg3.png');
    --bg-image2-light: url('./src/bg7.png');
    
    --bg-primary-dark: #2F1E26;
    --bg-secondary-dark: #3A2831;
    --bg-tertairy-dark: #423139;
    --text-primary-dark: #FFFFFF;
    --text-secondary-dark: rgb(219, 154, 100);
    --text-tertairy-dark: #C7C7C7;
    --bg-image1-dark: url('./src/bg4.png');
    --bg-image2-dark: url('./src/bg8.png');    
}

@media(prefers-color-scheme: dark){
    :root{
        --bg-primary: var(--bg-primary-dark);
        --bg-secondary: var(--bg-secondary-dark);
        --bg-tertairy: var(--bg-tertairy-dark);
        --text-primary: var(--text-primary-dark);
        --text-secondary: var(--text-secondary-dark);
        --text-tertairy: var(--text-tertairy-dark);
        --bg-image1: var(--bg-image1-dark);
        --bg-image2: var(--bg-image2-dark);
    }
}

@media(prefers-color-scheme: light){
    :root{
        --bg-primary: var(--bg-primary-light);
        --bg-secondary: var(--bg-secondary-light);
        --bg-tertairy: var(--bg-tertairy-light);
        --text-primary: var(--text-primary-light);
        --text-secondary: var(--text-secondary-light);
        --text-tertairy: var(--text-tertairy-light);
        --bg-image1: var(--bg-image1-light);
        --bg-image2: var(--bg-image2-light);
    }

}

[color-scheme="light"]{
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --bg-tertairy: var(--bg-tertairy-light);
    --text-primary: var(--text-primary-light);
    --text-secondary: var(--text-secondary-light);
    --text-tertairy: var(--text-tertairy-light);
    --bg-image1: var(--bg-image1-light);
    --bg-image2: var(--bg-image2-light);
}
[color-scheme="dark"]{
    --bg-primary: var(--bg-primary-dark);
    --bg-secondary: var(--bg-secondary-dark);
    --bg-tertairy: var(--bg-tertairy-dark);
    --text-primary: var(--text-primary-dark);
    --text-secondary: var(--text-secondary-dark);
    --text-tertairy: var(--text-tertairy-dark);
    --bg-image1: var(--bg-image1-dark);
    --bg-image2: var(--bg-image2-dark);
}

*{
  padding: 0;
  margin: 0;
  color: var(--text-secondary);
  border-color: var(--bg-secondary);
}
body {
    overflow-x: hidden;
    font-weight: 700;
}
.theme{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-primary);
    border: 3px solid var(--text-secondary);
    cursor: pointer;
    display: grid;
    place-items: center;
    position: fixed;
    top: 90vh;
    right: 20px;
  }
  
  .theme:hover{
    box-shadow: 0px 0px 8px var(--text-secondary), inset 0px 0px 2px var(--text-secondary);
}
ul {
    list-style: none;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin: auto;
    background: var(--bg-secondary);
    font-size: large;
  }
  .navbar {
    position: relative;
    cursor: pointer;
  }
  .main-nav {
    display: flex;
    margin: auto;
    gap: 10px;
  }
  .nav-item {
    padding: 10px;
    z-index: 10;
    white-space: nowrap;
  }
  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transform: scaleX(0);
  }
  .main-nav:hover ~ .indicator {
    transform: scaleX(1);
  }
  .active {
    position: relative;
    --bc: var(--text-secondary);
  }
  .active::after {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--bc);
  }

  .nav-item:hover:not(.active) {
    position: relative;
    --bc: var(--text-secondary);
    text-shadow: 0 0 15px var(--text-secondary);
  }
  .nav-item:hover:not(.active)::after {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--bc);
    opacity: 0.5;
    transition: 0.3s;
  }
  .content .welcome{
    background: var(--bg-image2) top,  var(--bg-primary);
    width: 100%;
    height: 94vh;
    display: flex;
    overflow: hidden;
    /* display: inline-block;
    color: var(--text-tertairy);
    border-right: .25em solid var(--text-secondary);
    white-space: nowrap;
    animation: 
    typing 1.5s ease-in-out; */
  }

  .content .welcome .welcome-text{
    /* background: var(--bg-primary); */
    height: 100%;
    width: 40%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: 20%;
  }
  .content .welcome .welcome-text h1{
    font-size: 80px;
    color: var(--text-primary);
  }
  .content .welcome .welcome-text h2{
    font-size: 30px;
    color: var(--text-secondary);
  }
  .content .welcome .welcome-text h3{
    font-size: 30px;
    color: var(--text-secondary);
  }
  .content .welcome .welcome-text .welcome-text-typewriter h5{
    width: 0;
    display: inline-flex;
    color: var(--text-tertairy);
    overflow: hidden;
    border-right: .25em solid var(--text-secondary);
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: 
    typing 1s steps(40, end) forwards,
    blink-caret .5s step-end infinite;
  }
  .content .welcome .welcome-text .welcome-text-typewriter .first{--w:16ch;animation-delay: 0s;}
  .content .welcome .welcome-text .welcome-text-typewriter .second{--w:22ch;animation-delay: 1.5s;}
  .content .welcome .welcome-text .welcome-text-typewriter .third{--w:13ch;animation-delay: 3s}

  
  @keyframes typing {
    from { width: 0 }
    to { width: var(--w) }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--text-secondary); }
  }
  .content .welcome .welcome-image{
    background: var(--bg-image1);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 60%;
  }


/* 

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  #c {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    display: block;
  }
  
  .loading {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader{
    -webkit-perspective: 120px;
    -moz-perspective: 120px;
    -ms-perspective: 120px;
    perspective: 120px;
    width: 100px;
    height: 100px;
  }
  
  .loader:before{
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--text-secondary);
    animation: flip 1s infinite;
  }
  
  @keyframes flip {
    0% {
      transform: rotate(0);
    }
  
    50% {
      transform: rotateY(180deg);
    }
  
    100% {
      transform: rotateY(180deg)  rotateX(180deg);
    }
  }








  .content .skills{
    height: 100vh;
    width: 100%;
    background: var(--bg-secondary);
  }

  @media screen and (max-width: 992px) {
    .content .welcome{
      flex-direction: column;
    }
    .content .welcome .welcome-image{
      display: none;
    }

  }